/* highlights.module.css */
.container {
    height: 550px;
    width: 98vw;
    margin: auto;
    /* overflow: scroll; */
  }
  
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
  }
  
  .text p {
    color: grey;
  }
  
  .imageContainer {
    display: flex;
    overflow-y: auto;
    justify-content: center;
  }
  
  .imageContainer img {
    border-radius: 10px;
    padding: 5px;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 480px) {
    .container {
      height: 350px; /* Adjust the height for extra small screens */
    }
  
    .text h1 {
      font-size: 24px; /* Adjust the font size for extra small screens */
    }
  
    .text p {
      font-size: 14px; /* Adjust the font size for extra small screens */
    }
  
    .imageContainer img {
      width: 120px; /* Adjust the image width for extra small screens */
      height: 200px; /* Adjust the image height for extra small screens */
    }
  }
  
  @media screen and (max-width: 768px) {
    .container {
      height: 450px; /* Adjust the height for small screens */
    }
  
    .text h1 {
      font-size: 28px; /* Adjust the font size for small screens */
    }
  
    .text p {
      font-size: 16px; /* Adjust the font size for small screens */
    }
  
    .imageContainer img {
      width: 180px; /* Adjust the image width for small screens */
      height: 300px; /* Adjust the image height for small screens */
    }
  }
  
  @media screen and (min-width: 769px) {
    .imageContainer img {
      width: 260px; /* Original image width for larger screens */
      height: 400px; /* Original image height for larger screens */
    }
  }
  