.flexDiv{
    display: flex;
    margin: auto;
    justify-content: center;
}

#links a{
    padding-left: 15px;
    font-weight: 100;
}

#socials img{
    padding-left: 20px ;
}

#footer h1{
    font-size: 30px;
}
@media (max-width:520px) {

    #links{
        width: fit-content;
        text-align: center;
        flex-direction: column;
    }
}